@use '../../Functions' as *;

$mobile: 768px;
$tablet: 1024px;

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--backgroundColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
    width: 100%;
    max-width: 100vw;
    overflow: visible;
    padding: fluid(0, 15) fluid(30, 50);
    &.hidden {
        transform: translateY(-100%);
    }
    &.visible {
        transform: translateY(0);
    }
    .brand {
        display: flex;
        align-items: center;
        .link {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
            &:hover {
                text-decoration: none;
            }
        }
        .logo {
            font-family: var(--font-ephesis);
            font-weight: 400;
            font-size: fluid(40, 96);
            padding-right: fluid(10, 45);
        }
        .name {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border: 0;
        }
        p {
            font-family: var(--font-montserrat);
            font-size: fluid(20, 24);
        }
    }
    .nav {
        display: flex;
        @media (max-width: $tablet) {
            display: none;
        }
        ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            gap: 30px;
        }
    }
    .menu {
        background: none;
        border: none;
        cursor: pointer;
        color: var(--textColor);
        display: none;
        @media (max-width: $tablet) {
            display: block;
        }
        .icon {
            font-size: 40px
        }
    }
    .modal {
        width: fit-content;
        position: absolute;
        right: 10px;
        background-color: var(--thirdColor);
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
        z-index: 9999;
        padding: 30px;
        border-radius: 10px;
        transform: translateX(120%);
        transition: transform 0.3s ease-in-out;
        ul {
            list-style: none;
            margin: 0;
            li {
                a {
                    display: block;
                    padding: 15px 0;
                }
            }
        }
        &.open {
            transform: translateX(0);
        }
        &.closing {
            transform: translateX(120%);
        }
    }
}
