header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--backgroundColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;

    &.hidden {
        transform: translateY(-100%);
    }

    &.visible {
        transform: translateY(0);
    }
    .brand{
        display: flex;
        align-items: center;
        .logo {
            font-family: var(--font-ephesis);
            font-weight: 400;
            font-size: 96px;
            padding-right: 45px;
        }
        .name {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border: 0;
        }
        p {
            font-size: 24px;
            font-family: var(--font-montserrat);
        }
    }
    nav {
        ul {
            list-style: none;
            display: flex;
        }
    }
}