@use '../mixins' as *;

.legals, .confidentiality, .cookies {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: clamp(30px, 30px + (100 - 30) * ((100vw - 768px) / (1440 - 768)), 100px) clamp(30px, 30px + (100 - 30) * ((100vw - 768px) / (1440 - 768)), 100px);
    @include centeredContent();
    h2{
        font-size: 64px;
    }
    h3{
        font-size: 36px;
    }
    h4{
        font-size: 36px;
    }
    p{
        font-size: 20px;
    }
}