@use '../../Functions' as *;

$mobile: 768px;
$tablet: 1024px;

footer {
    background-color: var(--thirdColor);
    text-align: center;
    padding: 50px 100px;
    @media (max-width: $mobile) {
        text-align: left;
        padding: 30px;
    }
    .content {
        display: flex;
        justify-content: space-between;
        padding: 0 0 10px 0;
        flex-direction: row;
        align-items: center;
        @media (max-width: $mobile) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
        .logo {
            align-self: flex-end;
            font-family: var(--font-ephesis);
            font-size: fluid(96, 128);
        }
    }
}
