:root {
    --mainColor: #D2B093;
    --secondColor: #ED8761;
    --thirdColor: #EEE4DB;
    --backgroundColor: #FFFBF5;
    --textColor: #222222;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-montserrat);
    background-color: var(--backgroundColor);
    color: var(--textColor);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h2{
    font-family: var(--font-satisfy);
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}