:root {
    --mainColor: #D2B093;
    --secondColor: #ED8761;
    --thirdColor: #EEE4DB;
    --backgroundColor: #FFFBF5;
    --backgroundColorRgb: 255, 242, 255;
    --textColor: #222222;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h2{
    font-weight: 400;
    .main {
        font-family: var(--font-satisfy);
        font-size: 36px;
    }
    .sub {
        font-family: var(--font-montserrat);
        font-size: 64px;
    }
}
h3{
    font-size: 24px;
}
p{
    font-family: var(--font-montserrat);
    font-size: 20px;
    font-weight: 400;
}
a {
    font-family: var(--font-montserrat);
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}
.quote{
    font-family: var(--font-satisfy);
    font-size: 32px;
    text-align: center;
}
button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}