.hero {
    position: relative;
    height: calc(100vh - 124px);
    padding: 100px;
    background: url('/fond.webp') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    .content {
        position: relative;
        z-index: 1;
        text-align: center;
        h2 {
            .main{
                font-size: 64px;
            }
            .sub{
                font-size: 96px;
            }
        }
    }
}
.role{
    padding: 100px;
    background-color: var(--secondColor);
    .content{
        display: flex;
        flex-direction: column;
        gap: 30px;
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
            .card{
                display: flex;
                flex-direction: column;
                background-color: var(--backgroundColor);
                padding: 30px;
                gap: 30px;
            }
        }
    }
}
.tagline{
    background-color: var(--thirdColor);
    .quote{
        padding: 30px 0;
    }
}
.services{
    padding: 100px 100px 0 100px;
    .content{
        display: flex;
        flex-direction: column;
        gap: 30px;
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
            .card{
                display: flex;
                flex-direction: column;
                border: 3px solid var(--textColor);
                img{
                    padding: 1px 1px 0 1px;
                    width: 100%;
                    box-sizing: border-box;
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    .main{
                        flex: 1;
                        &::after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 1px;
                            background-color: var(--textColor);
                        }
                        h3{
                            height: 186px;
                            padding: 30px;
                            font-size: 36px;
                            font-weight: 400;
                            position: relative;
                        }
                    }
                    .sub{
                        flex: 1;
                        padding: 30px;
                        p {
                            flex: 1;
                        }
                    }
                }
            }
        }
    }
}
.portfolio{
    padding: 100px;
    box-sizing: border-box;
    .content {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}
.about{
    padding: 100px;
    background-color: var(--mainColor);
    .content {
        display: flex;
        gap: 30px;
        .left{
            display: flex;
            flex-direction: column;
            gap: 30px;
            .box{
                display: flex;
                flex-direction: column;
                gap: 30px;
                padding: 30px;
                background-color: var(--backgroundColor);
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}
.contact{
    padding: 100px;
    .content{
        display: flex;
        gap: 100px;
        .left {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 50%;
        }
        .right{
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 50%;
            .info {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .item {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .circle {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: var(--mainColor);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .icons {
                            font-family: 'Material Icons Outlined';
                            font-size: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: var(--textColor);
                        }
                    }
                    p {
                            font-size: 20px;
                    }
                }
            }
        }
    }
}