.hero {
    position: relative;
    height: calc(100vh - 124px);
    margin-top: 124px;
    padding: 100px;
    background: url('/fond.webp') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    .content {
        position: relative;
        z-index: 1;
        text-align: center;
        h2 {
            font-size: 64px;
        }
        p {
            font-size: 96px;
        }
    }
}
.role{
    padding: 100px 100px 0 100px;
}
.services{
    padding: 100px 100px 0 100px;
}
.portfolio{
    padding: 100px 100px 0 100px;
}
.about{
    padding: 100px 100px 0 100px;
}
.contact{
    padding: 100px 100px 0 100px;
}